.venv
.env
__pychache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
node_modules/
dist/
build/
.env.local
.env.*.local
coverage/
*.sqlite3
*.db
*.egg-info/
.mypy_cache/
.pytest_cache/
htmlcov/
.tox/
.cache/
.ipynb_checkpoints/
*.json